body {
  margin: 1rem;
  width: 90%;
  padding: 20px;
}

.shadowed {
    background-color: rgba(245, 240, 240, 0.852);
}

.button_dark_rounded {
  background-color: rgb(74, 66, 66);
  color: gainsboro;
  font-weight: 600;
  height: 95%;
  align-self: center;
  border-radius: 8px;

}


.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px; 
  background-color: #f8f9fa;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 20px; 
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000; 
}

